<ion-header>
  <ion-toolbar>
    <ion-title>Pico y Placa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Placa del vehículo</ion-label>
    <ion-input [(ngModel)]="plate" placeholder="Ingrese la placa (ej. ABC1234)" type="text"></ion-input>
  </ion-item>

  <ion-item button (click)="toggleCalendar()">
    <ion-label position="stacked">Fecha</ion-label>
    <ion-input [value]="date" readonly></ion-input>
    <ion-icon [name]="showCalendar ? 'chevron-up' : 'chevron-down'"></ion-icon>
  </ion-item>

  <div *ngIf="showCalendar" class="calendar-container">
    <ion-datetime
      [(ngModel)]="date"
      (ionChange)="updateDayOfWeek()"
      display-format="DD/MM/YYYY"
      picker-format="YYYY-MM-DD"
      presentation="date"
    ></ion-datetime>
  </div>

  <ion-item>
    <ion-label>Dia:</ion-label>
    <ion-text>{{ dayOfWeek }}</ion-text>
  </ion-item>

  <ion-item button (click)="toggleTimePicker()">
    <ion-label position="stacked">Hora</ion-label>
    <ion-input [value]="time" readonly></ion-input>
    <ion-icon [name]="showTimePicker ? 'chevron-up' : 'chevron-down'"></ion-icon>
  </ion-item>

  <div *ngIf="showTimePicker" class="time-container">
    <ion-datetime
      [(ngModel)]="time"
      (ionChange)="updateDayOfWeek()"
      display-format="HH:mm"
      picker-format="HH:mm"
      presentation="time"
    ></ion-datetime>
  </div>

  <ion-button expand="full" (click)="checkIfCanDrive()">Verificar</ion-button>
  <ion-button expand="full" color="danger" (click)="clearFields()">Limpiar</ion-button>
  <ion-button
  expand="full"
  color="primary"
  (click)="presentAlertModal('Horarios restringidos: 06:00-09:30 y 16:00-21:00')"
>
  Ver Horarios
</ion-button>

  <ion-item *ngIf="result">
    <ion-label>
      {{ result }}<br />
      Consulta realizada a las: {{ time }}
    </ion-label>
  </ion-item>
</ion-content>
